.main {
  width: 100%;
  height: 100%;
  background-color: #3dcc3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    width: 300px;
  }
}
.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 40px;
  a {
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
    color: black;
    img {
      width: 130px;
    }
  }
  p {
    font-weight: 600;
  }
}

/* TABLET························································································································ */
@media (min-width: 768px) {
  .main {
    &__img {
      width: 500px;
    }
  }
}

/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .app {
    background-color: rgb(7, 7, 7);
  }
}
